@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900 antialiased dark:bg-gray-900 dark:text-gray-100;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
